#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex: 1 0 0;
    align-self: stretch;
}

#Home > div.title {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#Home > div.title * {
    margin: 0;
}

#Home > div.title > h1 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#Home > div.title > p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#Home > div.profiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#Home > div.profiles > *:nth-child(1) {
    --color: #56A6F5;
}

#Home > div.profiles > *:nth-child(2) {
    --color: #DC5ED4;
}

#Home > div.profiles > *:nth-child(3) {
    --color: #F99EB1;
}

#Home > div.profiles > *:nth-child(4) {
    --color: #FED464;
}