@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html:root {
    --bg: #2B2A38;
    --trans: all 0.25s ease-in;
    --radius-inf: 9999px;
}

body {
    background: var(--bg);
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    text-align: center;
}